@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 0;
}

p {
    line-height: 25px;
}

section {
    padding: 100px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button {
    background-color: #47B99E;
    color: #fff;
    padding: 12px 45px;
    border-radius: 30px;
    font-size: 1.1em;
    border: none;
}

h2 {
    font-size: 2em;
}

.width-560px {
    width: 560px;
}


/* ------------------------Header Style -------------------------- */

header {
    width: 100%;
    height: 75px;
    padding: 0 15px;
    background-color: #063547;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 1.5em;
    font-weight: 900;
}

nav * {
    display: inline-block;
}

nav li {
    padding: 0 25px;
}

header form {
    min-width: 100px;
    max-width: 35%;
    height: 42px;
    position: relative;
    right: 0;
}

input,
textarea {
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
    font-size: 1.05em;
    padding-left: 15px;
}

header ion-icon {
    position: absolute;
    right: 3px;
    top: -2px;
    font-size: 2.8em;
    color: #47B99E;
}


/* ------------------------Slider Style-------------------------- */

.slider {
    background-color: #F5F6F9;
}

.slider-text h2 {
    color: #47B99E;
    font-size: 1.3em;
}

.slider-text h3 {
    font-size: 3em;
}


/* ----------------------Categories Style------------------------- */

.categories {
    text-align: center;
}

.categorie {
    width: 30%;
    margin: 25px 0;
}

.categorie img {
    width: 60px;
    height: 60px;
}

.categorie-image-container {
    background-color: #F5F6F9;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


/* ----------------------Customers Style------------------------- */

.customers p:nth-child(1) {
    max-width: 560px;
    background-color: #063547;
    color: #fff;
    padding: 25px;
    border-radius: 20px;
}

.customers img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 15px;
}

.customers i {
    font-size: 1.5em;
    display: block;
    color: #47B99E;
    margin-top: 20px;
}

.customers span {
    font-size: 1.2em;
    font-weight: 700px;
}

.customer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.customers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* ----------------------Blog Style------------------------- */

.blog {
    margin: auto;
    background-color: #F5F6F9;
}

.blog h2,
.customers h2 {
    text-align: center;
    margin-bottom: 60px;
}

article {
    background-color: #fff;
    height: 660px;
    box-shadow: 0 0.5px 15px rgba(140, 140, 140, 0.9);
    position: relative;
    padding-bottom: 20px;
    margin-top: 40px;
}

.date {
    padding: 10px 25px;
    background-color: #063547;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 30px;
    font-size: 1.1em;
    position: absolute;
    left: 25px;
    top: 370px;
}

article div {
    padding: 20px;
}

article a {
    color: #47B99E;
}


/* ----------------------Contact Style------------------------- */

.contact form {
    width: 100%;
}

.contact form * {
    width: 90%;
    outline: none;
    border: none;
    margin: 15px 0;
    height: 50px;
}

.contact input,
.contact textarea {
    background-color: #F1F1F1;
}

.contact textarea {
    height: 125px;
}


/* ----------------------Footer Style------------------------- */

footer .flex {
    background-color: #063547;
    color: #fff;
    padding: 0 100px;
}

footer .flex div {
    width: 22%;
    min-height: 265px;
}

footer h3 {
    font-size: 1.5em;
    font-weight: 500;
}

footer form * {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

iframe {
    width: 100%;
    height: 225px;
}

.iframe {
    margin-top: 40px;
}

.copyright {
    text-align: center;
    color: #063547;
    padding-bottom: 30px;
}

footer i {
    text-align: center;
    color: #063547;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 8px;
}

footer a:hover,
footer i:hover {
    color: #47B99E;
}

footer ul {
    line-height: 30px;
    list-style: none;
    padding-left: 0;
}